<style>
    :host {
        --bright-blue: oklch(51.01% 0.274 263.83);
        --electric-violet: oklch(53.18% 0.28 296.97);
        --french-violet: oklch(47.66% 0.246 305.88);
        --vivid-pink: oklch(69.02% 0.277 332.77);
        --hot-red: oklch(61.42% 0.238 15.34);
        --orange-red: oklch(63.32% 0.24 31.68);

        --gray-900: oklch(19.37% 0.006 300.98);
        --gray-700: oklch(36.98% 0.014 302.71);
        --gray-400: oklch(70.9% 0.015 304.04);

        --red-to-pink-to-purple-vertical-gradient: linear-gradient(180deg,
                var(--orange-red) 0%,
                var(--vivid-pink) 50%,
                var(--electric-violet) 100%);

        --red-to-pink-to-purple-horizontal-gradient: linear-gradient(90deg,
                var(--orange-red) 0%,
                var(--vivid-pink) 50%,
                var(--electric-violet) 100%);

        --pill-accent: var(--bright-blue);

        font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
            "Segoe UI Symbol";
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1 {
        font-size: 3.125rem;
        color: var(--gray-900);
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -0.125rem;
        margin: 0;
        font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
            "Segoe UI Symbol";
    }

    p {
        margin: 0;
        color: var(--gray-700);
    }

    main {
        width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        box-sizing: inherit;
        position: relative;
    }

    .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 3rem;
        max-width: 1024px;
    }

    .content {
        display: flex;
        justify-content: space-around;
        width: 100%;
        max-width: 1024px;
        margin-bottom: 3rem;
    }

    .content h1 {
        margin-top: 1.75rem;
    }

    .content p {
        margin-top: 1.5rem;
    }

    .right-side {
        width: 500px;
    }

    .divider {
        width: 1px;
        background: var(--red-to-pink-to-purple-vertical-gradient);
        margin-inline: 0.5rem;
    }

    @media screen and (max-width: 1024px) {
        .content {
            flex-direction: column;
            width: max-content;
        }

        .divider {
            height: 1px;
            width: 100%;
            background: var(--red-to-pink-to-purple-horizontal-gradient);
            margin-block: 1.5rem;
        }
    }
</style>
<div class="main">
    <div class="content">
        <div class="left-side">
            <h1>{{ title }}</h1>
            <p>Angular, Angular Material</p>
        </div>
        <div class="divider" role="separator" aria-label="Divider"></div>
        <div class="right-side"><h1>IAN Advisory Archive</h1>
            <p>
                Hurricane Ian Tropical Cyclone Update
                NWS National Hurricane Center Miami FL AL092022
                700 PM EDT Wed Sep 28 2022
            </p>
            <p>
                ...7 PM EDT HURRICANE IAN POSITION UPDATE...
                ...IAN BATTERING THE FLORIDA PENINSULA WITH CATASTROPHIC STORM
                SURGE, WINDS, AND FLOODING...
            </p>
            <p>
                A NOAA National Ocean Service station near Ft. Myers recently
                reported a water level greater than 7 ft (2.1 m) Mean Higher High
                Water (MHHW).
            </p>
            <p>
                A University of Florida Coastal Monitoring Program wind tower
                recently reported sustained winds of 64 mph (103 km/h) with a wind
                gust of 104 mph (167 km/h).
            </p>
            <p>
                A private weather station near Port Charlotte reported a sustained
                wind of 115 mph (185 km/h) with a wind gust of 132 mph (212 km/h)
                as Ian made landfall on the mainland Florida peninsula a little
                more than 2 hours ago.
            </p>
            <p>
                SUMMARY OF 700 PM EDT...2300 UTC...INFORMATION
                ----------------------------------------------
                LOCATION...27.1N 81.8W
                ABOUT 25 MI...40 KM NE OF PUNTA GORDA FLORIDA
                ABOUT 100 MI...160 KM SSW OF ORLANDO FLORIDA
                MAXIMUM SUSTAINED WINDS...125 MPH...205 KM/H
                PRESENT MOVEMENT...NNE OR 20 DEGREES AT 8 MPH...13 KM/H
                MINIMUM CENTRAL PRESSURE...955 MB...28.20 INCHES

                $$
                Forecaster Bucci/D. Zelinsky
            </p>
        </div>
    </div>
    <div class="bottom"><hurricane-list></hurricane-list></div>
</div>